<div class="pipExample">
  <h3 style="text-align: center">Pipes examples</h3>
  <p>App component works {{title}}</p>
  <p>The hero's birthday is  : {{bday|date:format|uppercase}}</p>
  <button type="button" (click)="toogleFormat()">Toggle Format</button>
</div>

<div class="pipExample">
  <h3 style="text-align: center">Custom Pipes !</h3>

  <input type="radio" value="male" name="gender" [(ngModel)]="inputGen"><label>Male</label>
  <input type="radio" value="female" name="gender1" [(ngModel)]="inputGen"><label>Female</label>
  <br>

  <input type="text" [(ngModel)]="inputVal">
  <!-- <p>{{inputVal}}</p> -->
  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let ele of employe |filter1:inputVal:inputGen">
      <td>{{ele.name}}</td>
      <td>{{ele.gender}}</td>
    </tr>
  </table>
</div>

<div class="parent-box">
  <h3 style="text-align: center">Perent component !</h3>
  <app-parent></app-parent>
</div>